<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article id="about">
  <h2>Error: Documento no encontrado!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend elit sit amet enim
    tristique venenatis. Phasellus urna ipsum, consectetur sed dui eu, molestie facilisis tellus.
    Vivamus iaculis gravida turpis. Suspendisse eu tortor lacinia, laoreet mi at, gravida turpis.
    Sed eget nisi nec leo suscipit dictum. Proin vulputate, sem ut convallis tristique, urna mauris
    dictum lectus, sit amet varius sapien tortor non nisl. Etiam ut turpis aliquet, euismod dolor non,
    condimentum sapien.</p>
</article>
